<p id="notice"><%= notice %></p>

<h1>나이스 전자 상품권 테스트 전문 생성기</h1>

<table width="100%">
<tr>
<td valign="top">
<table width="50%">
<tr>
  <td>
    <strong>Comp:</strong>
  </td>
  <td>
    <input type="radio" name="comp" value="HMP" <%= 1 ? @chk : "" %>>홈플러스
  </td>
  <td>
    <input type="radio" name="comp" value="NGC" <%= @grp.comp == "NGC" ? @chk : "" %>>표준형
  </td>
  <td>
    <input type="radio" name="comp" value="SSG" <%= @grp.comp == "SSG" ? @chk : "" %>>신세계
  </td>
</tr>
<tr>
  <td>
    <strong>Port:</strong>
  </td>
  <td>
    <input type="radio" name="port" value="TDM" <%= 1 ? @chk : "" %>>TDM
  </td>
  <td>
    <input type="radio" name="port" value="POS" <%= @grp.port == "POS" ? @chk : "" %>>POS
  </td>
  <td></td>
</tr>
<tr>
  <td>
    <strong>Trcode:</strong>
  </td>
  <td>
    <input type='text' value="10" id="trcode" size="3">
  </td>
  <td>
    <input type='button' value='load form' id='load'>
  </td>
  <td>
    <input type='button' value='load test data' id='load_test'>
  </td>
</tr>
</table>
</td>
<td valign="top">
<table width="50%">
<tr>
<td>Name</td>
<td><input type='text' id='tc_name' value='test'></td>
</tr>
<tr>
<td>Desc</td>
<td><input type='text' id='tc_desc' value='test desc'></td>
</tr>
<tr>
<td>Expect Result</td>
<td><input type='text' id='tc_rltb' value='0000'></td>
</tr>
</table>
</td>
</tr>
</table>
<br>
<input type='button' id='new' value='New row' />&nbsp
<input type='button' id='save' value='Save' />&nbsp
<input type='button' id='edit' value='Edit form' />&nbsp
<input type='button' id='delete' value='Delete row' />&nbsp
<input type='button' id='edit_val' value='Edit value' />
<br>
<br>
<table width="100%">
<tr>
<td width="50%" valign="top">
<table id="table-msgform">
  <thead>
    <tr>
      <th widht="5%">Seq</th>
      <th widht="20%">Name</th>
      <th widht="30%">Value</th>
      <th widht="5%">Pos</th>
      <th widht="5%">Len</th>
      <th widht="30%">Desc</th>
      <th widht="5%">Select</th>
      <th widht="0%">state</th>
    </tr>
  </thead>
</table>
</td>
<td width="50%" valign="top">
<table id="table-history">
  <thead>
    <tr>
      <th widht="35%">Name</th>
      <th widht="45%">Desc</th>
      <th widht="5%">Rltb</th>
      <th widht="5%">Rlta</th>
      <th widht="10%">TryDt</th>
      <th></th>
    </tr>
  </thead>
</table>
</td>
</tr>
</table>
